.post-container {
  width: 90%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  .map-post-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .post-info {
      padding: {
        left: 20px;
      }
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .post-title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .post-meta-info {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        span {
          margin-bottom: 10px;
        }
      }
    }
  }
}